#cabecera{
    width: 100%;
    display:flex;
    background-color: firebrick;
    color:white;
}

footer{
    background-color: firebrick;
    color:white;
    height: 150px;
    align-content: center;
}
footer ul li{
    
    text-decoration: none;
    display: inline;
    
}
footer ul li a{
color: white;
    text-decoration: none;
    padding: 5px;
}
footer #info{
    padding: 10px;
}

#name{
    width: 25%;
    height: 100%;
    float: left;
    padding: 10px;
    font-size: 20pt;
    color: white;
    
}

#titulo{
    font-size:20pt;
    padding-left: 3%;
    width: 60%; 
}

#form_busqueda{
    align-self: center;
}

.navegador{
    width: 100%;
    display: inline-block;
    background-color: beige;
}

.navegador li{
    display: inline;
}

#nav_general{
    width: 70%;
    float: left;
}

#nav_general a{
    text-decoration: none;
    color: black;
    padding: 10px;
}


#nav_rapida{
    float: right;
}

#nav_rapida a{
    text-decoration: none;
    color:black;
    padding: 7px;
    font-size: 8pt;
}

#cuerpo{
    display: block;
}

#col_der{
    float: right;
    width: 47%;
    height: 1050px;
}

#col_izq{
    padding-right: 6%;
    width: 47%;
    float: left;
}
#titulo_cuerpo{
    color: grey;
}
#col_izq section p{
    font-family: monospace;
    font-size: 10pt;
     color: grey;
}

#ugr_cifras{
    background-color: beige;
    padding: 20px;
}

#ugr_cifras a{
    float: right;
    text-decoration: none;
    color: black;
}

#datos{
    list-style: none;
}

.titulos{
    color: firebrick;
}

#col_izq img{
    float: left;
    padding-right: 5px;
    width: 27%;
}

#col_izq section{
    display: table;
}

ul.columnas{
    width: 100%;
    float: left;
}

ul.columnas li{
    display: inline;
    width: 50%;
    float: left;
}

#col_izq ul a{
    text-decoration: none;
    font-weight: bold; 
    font-size:10pt;
    color:black;
    
}

#col_izq ul a:visited{
    text-decoration: none;
    color:black;
}

#nav_general a:hover{
    text-decoration:underline;
    color:red;
}

.boton {    
   
   font-size: 12pt;
   padding: 10px;
   background-color: lightgrey;
   color: black;
   text-decoration: none;
  
}



#botones{
    width: 25%;  
    float: right;
    background-color: beige;
}
#botones ul{
    list-style: none;
}
#botones ul li{
    padding: 15px;
}

#enlaces_rapidos{
    width: 100%;
    
}

#enlaces{
    display:inline-block;
    width:75%;    
    background-color:beige;
}

#enlaces .cajita a{
    text-decoration: none;
    color: grey;
}

#enlaces .cajita{
width: 15%;
float: left;
}

