header {
  background-color: #2B2B2B;
  border-bottom: 2px solid #DE1B1B;
  height: 15%; 
  padding: 10px;
}

body{
      background-color: #F6F6F6;
}

#titulo {
  width: 40%;
  color: white;
  float: left;
}

.logo{
    text-align: center;
    width: 50px;
    height: 50px;
    float:left;
}

#login{
  padding: 10px;
  width: 45%;
  float:right;
}

#nav{
  background-color: #2B2B2B;
  border-right: 2px solid #DE1B1B;
  float: left;
  width: 18%;
  height: 100%;
}

#nav ul{
  list-style: none;
}

.enlaceboton{
    color: white;
    font-size: 13pt;
}
.enlaceboton:hover{
     border: 1px inset #000;
     border-radius: 10px;

}
.enlaceboton:visited{
    text-decoration: none;
    color: white;
}
#pie{
  width: 100%;
}

#nav a {
  text-decoration: none;
}

#contenido{
  width: 70%;
  float: left;
  background-color: #F6F6F6;
  height: -moz-fit-content;
  margin: 3% 5% 3% 5%;
}

#nuevo_miembro_button{
    float:right;
}

.tabla_result{
    padding: 30px;
  width: 100%;
}
.tabla_result td{
  padding-bottom: 40px;
  border-bottom: black solid 1px;
  width: 30%;
  text-align: center;
}
.formulario_busqueda{
  text-align: center;
}
.formulario_busqueda input{
  padding: 5px;
}
.formulario_busqueda label{
  padding-left: 10px;
}

#pie{
  clear: both;
  border-top: 4px solid rgba(43, 43, 43, 0.25);
  background-color: rgba(167, 167, 167, 0.55);
  padding: 3%;
}
#registro{
    margin: auto;
    width: 50%;
    padding: 0px;
    height: 100%;
}

#registro label{
    padding: 10px;
}
.foto img{
    width: 150px;
    width: 150px;
}
#paginador{
  width: 100%;
  text-align: center;
}
.pags{
  padding: 10px;
  border: black 0.5px solid;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) { 
  header{
    height: 24%;
  }
  #titulo h1{
    font : 90%  sans-sherif;
  }
  #nav{
    width: 40%;
    float:left;
  }
  #nav ul{
    padding: 0px;
  }
  #nav li{
    padding-bottom: 4px;
    font : 90% sans-sherif;
  }
  #login_form input{
    height: 25%;
  }
  .log{
    width: 90%;
    height: 25%;  
  }
  #contenido{
    width: 60%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
  #nav{
    width: 30%;
  }
}