header {
  background-color: lightgoldenrodyellow;
  height: 15%;  
}
body{
    background-color: #f4f4f4f4;
}
#titulo {
  width: 40%;
  float: left;
}
.logo{
    width: 50px;
    height: 50px;
    float:left;
}
#login{
  padding: 10px;
  width: 45%;
  float:right;
}

#nav{
  float: left;
  width: 20%;
  background-color: dcd0c0;
  height: 100%;
}

#nav ul{
  list-style: none;
}

#pie{
  width: 100%;
}

#nav a {
  text-decoration: none;
}

#contenido{
  width: 70%;
  float: left;
  background-color: #f4f4f4f4;
  height: -moz-fit-content;
}

#nuevo_miembro_button{
    float:right;
}

.tabla_result{
    padding: 30px;
  width: 100%;
}
.tabla_result td{
  padding-bottom: 40px;
  border-bottom: black solid 1px;
  width: 30%;
  text-align: center;
}

#pie{
  clear: both;
  padding: 10px;
  background-color: #c0b283;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) { 
  header{
    height: 24%;
  }
  #titulo h1{
    font : 90%  sans-sherif;
  }
  #nav{
    width: 40%;
    float:left;
  }
  #nav ul{
    padding: 0px;
  }
  #nav li{
    padding-bottom: 4px;
    font : 90% sans-sherif;
  }
  #login_form input{
    height: 25%;
  }
  .log{
    width: 90%;
    height: 25%;  
  }
  #contenido{
    width: 60%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
  #nav{
    width: 30%;
  }
}